body * {
	font-family:"Consolas","Microsoft Yahei", Arial, sans-serif;
}

body {
	background: white;
	margin: 0;
	padding: 0;
}

#searchForm {
    float:right;
}
/* reset webkit search input browser style */
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; /* remove the search and cancel icon */
}

/* search input field */
input[type=search] {
	background: #ededed url(images/search_icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #6dcff6;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

/* placeholder */
input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Search Button */
#searchForm input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#searchForm input[type=search]:hover {
	background-color: #fff;
}
#searchForm input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#searchForm input:-moz-placeholder {
	color: transparent;
}
#searchForm input::-webkit-input-placeholder {
	color: transparent;
}

.container {
	width: 320px;
	margin: 0 auto 50px;
}

.container>.title {
	color: #bbb;
	font-weight: bold;
	margin-bottom: 16px;
	background: #555;
	padding: 5px 10px;
}

.adlink {
	text-align: center;
	font-size: 11pt;
}

.adlink a {
	text-decoration: none;
	display:block;
	color: #666;
	font-weight: bold;
	margin-bottom: 10px;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10pt;
	margin-top: 10pt;
}

.adlink span {
   height: 24px;
   width:24px;
   display: inline-block;
}

.calendar{
	font-size:17pt;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
}

.calendar .date{
	display:block;
	float:left;
	width:245px;
}

.calendar .week, .calendar .lunar{
	font-size:10pt;
	display:inline-block;
	line-height: 15px;
	float:left;
	width:75px;
	height:20px;
}

.split, .clear {
	clear: both;
	height: 1px;
	overflow-y: hidden;
}

.good, .bad {
	clear: both;
	position: relative;
}

.bad {
	/*top: -1px;*/
}

.good .title, .bad .title {
	float: left;
	width: 100px;
	font-weight: bold;
	text-align: center;
	font-size: 30pt;
	position:absolute;
	top:0;
	bottom:0;
}

.good .title>table, .bad .title>table {
	position:absolute;
	width:100%;
	height:100%;
	border:none;
}

.good .title {
	background: #34E708/*#ffee44;*/
}

.bad .title {
	background: #ff4444;
	color: #fff;
}

.good .content, .bad .content {
	margin-left: 115px;
	padding-right: 10px;
	padding-top: 1px;
	font-size:15pt;
}

.good {
	background: #A2FB8C;/*#ffffaa;*/
}

.bad {
	background: #ffddd3;
}

.content ul {
	list-style: none;
	margin:10px 0 0;
	padding:0;
}

.content ul li {
	line-height:150%;
	font-size: 15pt;
	font-weight: bold;
	color: #444;
}

.content ul li div.description {
	font-size: 11pt;
	font-weight: normal;
	color: #777;
	line-height: 110%;
	margin-bottom: 10px;
	text-indent: 2em;
}

.line-tip {
	font-size: 11pt;
	margin-top: 10px;
	margin-left: 10px;
}

.direction_value {
	color:#4a4;
	font-weight: bold;
}

.goddes_value {
	color: #f87;
}

.comment {
	margin-top: 50px;
	font-size: 11pt;
	margin-left: 10px;
}

.comment ul {
	margin-left: 0;
	padding-left: 20px;
	color: #999;
}

.comment ul li span {
   display: inline-block;
   vertical-align: middle
}

.footer {
   color: #999;
   text-align: center;
   font: 12px/1.125 Arial,Helvetica,sans-serif;
}

#html5_logo {
	width: 32px;
	height: 32px;
	position: relative;
	display: inline-block;
	background: url(images/HTML5_logo.png);
	background-repeat: no-repeat;
}